<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel='icon' href="/images/Logo-大.png">
    <title>后台登录</title>
</head>
<body>
    <div id = 'container'>
        <div class="header">
            <div class="login"><img src="/images/Logo-大.png" alt="logo_acg" width="80px"/></div>
            <div class="title"><span>后台管理系统</span></div>
        </div>
        <div class="body">
            <div>
                <img src="/images/ship.png" alt="船" id="ship" >
                <img src="/images/bg2.jpg" alt="背景" id="bg_img">
            </div>
            <form action="" method="POST">
                <div id = 'login'>
                    <ul>
                        <li><input type="text" placeholder="用户名" name='username' id='user'/></li>
                        <li><input type="password" placeholder="密码" name='password' id='pwd'/></li>
                        <li><input type="submit" value="登录" id='btn'/></li>
                        <li><input type="button" value="注册" id="btn1"></li>
                    </ul>
                </div>
                <div id="login_on">
                    <form action="" method="POST">
                        <ul>
                            <li>邮箱:<input type="email" name='email'></li>
                            <li>用户名:</li>
                            <li>密码:</li>
                            <li>确认密码:</li>
                            <li><input type="submit" value="确认注册"></li>
                        </ul>
                    </form>
                </div>
            </form>
        </div>
        <!-- <div class="footer">
        </div> -->
    </div>
</body>
<script>
    // ((d,w)=>{
    //     w.onload = ()=>{
    //         let ele = d.getElementsByClassName('footer')[0];
    //         sea(ele,1000);
    //     }
    //     sea = (ele,num) =>{
    //         let con = d.createElement('div');
    //         for(let i = 0;i<num;i++){
    //             var div = d.createElement('div');
    //             div.className = 'sea';
    //             div.style = `animation:sea infinite 5s;animation-delay: ${-0.1*i}s;`;
    //             con.append(div);
    //         }
    //         ele.append(con);
    //     }
    // })(document,window);
</script>
<script>
    //注册显示
    ((w,d)=>{
        w.onload = ()=>{
            let login_on = d.getElementById('btn1');
            login_on.onclick = ()=>{

            }
        }
    })(window,document)
</script>
</html>