
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>首页</title>
</head>
<body>
  <div class="container">
        <div class="header">
          <img src="/images/Logo-大.png" alt="Logo" width="50px">
          <div class="user">          
            <span>用户昵称</span>
            <input type="button" value="退出"></div>
        </div>
        <div class="body">
          <div class="left">
             <ul>
               <%- pages.map(item => {
                  return(`<li class="li" id=${item.id}><a href=/pages?page=${item.id}>${item.name}</a></li>`);
               }) %>
             </ul>
             <img src="/images/bg3.jpg" alt="bg" width="100%">
          </div>
          <div class="right">
              <div class="main_header">
                  <h3>首页</h3>
              </div>
              <div id="right_main">
                <div class="box">
                    <h3>文章总数</h3>
                    <span id="contextNum"></span>
                  </div>
                  <div class="box">
                    <h3>用户总量</h3>
                    <span id="userNum"></span>
                  </div>
                  <div class="box">
                    <h3>今日活跃</h3>
                    <span id="online"></span>
                  </div>
            </div>

          </div>
        </div>
        <div class="footer">

        </div>
  </div>
</body>
<script>
  window.onload = ()=>{
      let index = window.location.href.split('?')[1].split('=')[1];
      document.getElementById(index).style.backgroundColor = 'red';
  }
  fetch('data/api/main').then(response => response.json()).then(data => {
    console.log(data.data);
    var userNum = document.getElementById("userNum");
    var text1 = document.createTextNode(data.data1);
    var userNum = document.getElementById("contextNum");
    var text2 = document.createTextNode(data.data2);
    userNum.appendChild(text1);
    contextNum.appendChild(text2);
  });
</script>
</html>