
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" href="/images/logo.png">
  <title>……</title>
</head>
<body>
  <div class="container">
        <div class="header">
          <img src="/images/logo.png" alt="Logo" width="50px" id = 'logo'>
          <div class="user">
            <span>用户昵称</span>
            <input type="button" value="退出">
          </div>
        </div>
        <div class="body">
          <div class="left">
             <ul>
               <%- data.list.map(item => {
                  return(`<li class = "li" id = ${item.id}><a href=/pages/${item.id}>${item.name}</a></li>`);
               }) %>
             </ul>
             <img src="/images/bg3.jpg" alt="bg" width="100%">
          </div>
          <div class="right">
              <div class="main_header">
                  <h3 id="title">首页</h3>
                  <form action=``>
                      <input type="search" name='search' class="search" placeholder="请输入ID">
                      <input type="submit" class="sub" value="查询">
                  </form>
                  

              </div>
              <table cellspacing="0" cellpadding="0">
                  <tr>
                    <%- data.data.table.map(item=>{
                      return(`<th>${item}</th>`)
                    }) %>
                  </tr>
                  <tr>
                    <td>a</td>
                  </tr>
              </table>
          </div>
        </div>
        <div class="footer">

        </div>
  </div>
</body>
<script>
  ((d,w)=>{
    let title = {
      person:"人员管理",
      consumer:'客户管理',
      chapter:"文章管理",
      talk:"评论管理",
      orders:"订单管理",
      goods:'商品管理'
    }
    //标题
    let index = w.location.href.split('/')[w.location.href.split('/').length-1];
    w.onload = ()=>{
      d.getElementsByTagName('title')[0].innerHTML = title[index];
      d.getElementById('title').innerHTML = title[index];
      d.getElementById(index).style.color = 'red';
    }
    //搜索
  })(document,window)

</script>
</html>