<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/wrong.css">
    <link rel="icon" href="/images/logo.png">
    <title>acg_wiki</title>
</head>
<body>
    <div id="container">
        <h3><%- success %></h3>
        <form method="POST">
            <div style="width:20%;margin-left:40%;"><input type="submit" value="发送邮件" id='sub'></div>
        </form>
        <img src="/images/bg2.png" alt="bg" width="99%" height="700px">
    </div>
</body>
</html>