body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  overflow: hidden;
}
#left_nav{
  width: 15%;
  float: left;
  background-color: #20B2AA;
  height: 600px;
  
}
#body{
  float: left;
  width: 85%;
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: -1;
}
ul,li{
  list-style: none;
  margin: 0 auto;
  padding-inline-start:0px;
}
a{
  text-decoration: none;
  color: black;
}
.left_li{
  font-size: 20px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  transition: all linear 0.2s;
  cursor: pointer;
}
.left_li:hover{
  transition: all linear 0.2s;
  font-size: 30px;
  background-color: #008080;
}
.selected{
  font-size: 30px;
  background-color: #008080;
}
.left_ul{
  width: 15%;
  position: absolute;
}
#footer{
  width:100%;
  float: left;
  height: 100px;
  background-color: #696969;
}
.li_inner{
  float:left;
  font-size:15px;
  text-align:center;
  line-height:40px;
  height:40px;
  width:15%;
  border-right: 1px groove gray;
  z-index: 10;
  overflow: hidden;
  border-bottom: 1px solid gray;
}
.li_inner>input{
  border: none;
  outline: none;
  height: 40px;
  text-align: center;
  width: 100%;
  z-index: 10;
  margin: 0 auto;
  transition: all linear 0.2s; 
}
.li_inner:hover{
  transition: all linear 0.2s;
  background-color: rgb(87, 87, 87);
  color: white;
  cursor: pointer;
}
.li_inner>input:hover{
  transition: all linear 0.2s;
  font-size: 20px;
  cursor: pointer;
}
.li_inner>input:focus{
  font-size: 20px;
  cursor:pointer;
}
.ul_inner{
  height: 50px;
  z-index: 10;
  width: 100%;
  float: left;
}
#search{
  border: none;
  outline: none;
  display: block;
  width: 80%;
  height: 40px;
  float: left;
  text-indent: 20px;
  font-size: 20px;
  color: white;
  background-color: rgb(133, 133, 133);
  border-radius: 3px 0px 0px 3px;
  transition: all linear 0.3s;
}
#search:hover{
  transition: all linear 0.3s;
  background-color: rgb(123, 196, 255);
}
#search:focus{
  background-color: rgb(0, 97, 177);
}
#search::placeholder{
  color: white;
}
#search_btn{
  border: none;
  outline: none;
  background-color: rgb(0, 95, 204);
  width: 20%;
  height: 40px;
  color: aliceblue;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: all linear 0.2s;
  float: left;
  border-radius:  0px 3px 3px 0px ;
}
#search_btn:hover{
  transition: all linear 0.2s;
  background-color: rgb(0, 134, 243);
}
#alter{
  width:50%;
  height: 40px;
  border: none;
  outline: none;
  display: block;
  float: left;
  font-size: 20px;
  background-color: rgb(0, 86, 126);
  color: rgb(231, 231, 231);
  cursor: pointer;
}
#delete{
  cursor: pointer;
  width: 50%;
  height: 40px;
  border: none;
  outline: none;
  display: block;
  float: left;
  font-size: 20px;
  background-color: rgb(255, 166, 0);
}
#alter:hover{
  transition: all linear 0.2s;
  background-color: rgb(0, 159, 207);
}
#delete:hover{
  transition:  all linear 0.2s;
  background-color: rgb(228, 72, 0);
}
.li_inner_form{
  width:23%;
  height: 40px;
  float: left;
}
#login_bg{
  width: 100%;
  height: 750px;
  background-image: url(/logo.png);
  background-attachment: fixed;
  background-position: center top;
}
#login_bg::after{
  content: '';
  background-attachment: fixed;
  background-position: center top;
  filter: blur(20px);
  background-image: url(/logo.png);
  z-index: 100;
}
#login_container{
  height: max-content;
  overflow: hidden;
}
#login{
  position: absolute;
  top: 200px;
  left: 35%;
  width: 400px;
  transition: all linear 0.5s;
  background-color: rgb(87, 87, 87);
  height: 250px;
  text-align: center;
  opacity: 0.9;
  border-radius: 5px;
}
.pwd{
  width: 90%;
  margin-left: 1%;
  height: 40px;
  border-radius: 3px;
  box-shadow: 1px 1px 10px gray;
  outline: none;
  border:none;
  line-height: 30px;
  font-size: 17px;
  font-weight: normal;
  color: black;
  text-indent: 5%;
  opacity: 0.7;
  transition: all linear 0.8s;
}
.pwd:hover{
  transition: all linear 0.8s;
  box-shadow: 2px 2px 10px gray;
  opacity: 1;
}
.user{
  width: 90%;
  margin-left: 1%;
  height: 40px;
  border-radius: 3px;
  border:none;
  box-shadow: 1px 1px 10px gray;
  outline: none;
  line-height: 30px;
  font-size: 17px;
  font-weight: normal;
  color: black;
  text-indent: 5%;
  opacity: 0.7;
  transition: all linear 0.8s;
}
.user:hover{
  transition: all linear 0.8s;
  box-shadow: 2px 2px 10px gray;
  opacity: 1;
}
.user:focus{
  opacity: 1;
}
.pwd:focus{
  opacity: 1;
}
#btn{
  width: 90%;
  margin-left: 1%;
  height: 40px;
  border: none;
  outline: none;
  color: rgb(128, 255, 181);
  background-image: linear-gradient(rgb(0, 180, 60),rgb(0, 88, 15));
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all linear 0.3s;
  opacity: 0.8;
}
#btn:hover{
  transition: all linear 0.3s;
  background-image: linear-gradient(rgb(0, 233, 78),rgb(0, 122, 21));
}
#btn:focus{
  transition: all linear 0.3s;
  background-image:linear-gradient(rgb(0, 95, 32),rgb(0, 122, 21),rgb(0, 92, 31));
}
#login_title{
  width: 100%;
  text-indent: 43%;
  font-weight: 1000;
  height: 100px;
  line-height: 100px;
  margin-top: 100px;
}
#login_title>span{
  color: rgb(221, 0, 166);
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}